In [1]:
#upper
#lower

#rstrip
#lstrip
#strip
#lstrip

#join
#split
#replace replace (kalimat yg mau diganti, kalimat yg diinginkan)

## Operasi String

In [2]:
#upper
nama = "dina"
Nama = nama.upper ()
print (Nama)

DINA

In [3]:
#lower
nama1 = "MAGDALENA"
Nama1 = nama1.lower ()
print (Nama1)

magdalena

In [4]:
nama2 = "TRI"
print (nama2.lower())

tri

## Awalan dan Akhiran

In [5]:
#rstrip
coba1 = "Indonesia      "
print (coba1.rstrip())

Indonesia

In [6]:
#lstrip
coba2 = "    Indonesia"
print (coba2)
print (coba2.lstrip())

    Indonesia
Indonesia

In [7]:
#strip = menghilangkan bagian tertentu
coba3 = "    Indonesia    "
coba4 = " Merdeka!"
print (coba3+coba4)
print (coba3.strip() + coba4)

    Indonesia     Merdeka!
Indonesia Merdeka!

In [8]:
coba5 = "HaloHaloHaloHaloHaloSemuanya"
print (coba5.strip ("Halo"))
#kenapa huruf a di kata semuanya hilang?

Semuany

## Menggabungkan dan Memisahkan

In [9]:
#join
print (" ".join(["Nama", "saya", "Dina"]))
#menyelipkan " " dan menggabungkan "Nama", "saya", "Dina"

Nama saya Dina

In [10]:
#split
print ("Nama saya Dina hoii".split("hoii"))

['Nama saya Dina ', '']

In [11]:
print ("Nama saya - Dina".split ("-"))

['Nama saya ', ' Dina']

In [12]:
coba7 = "Nama saya Dina"
coba8 = coba7.split ("Nama")
print (coba8)

['', ' saya Dina']

## Mengganti Elemen di String

In [13]:
coba9 = "Indonesia Negaraku"
print (coba9.replace ("Negaraku", "Tanah Airku"))

Indonesia Tanah Airku

## Lain-Lain

In [14]:
nama5 = "dinagusti magdalena sianturi"
print (nama5.capitalize())

Dinagusti magdalena sianturi

In [15]:
nama6 = "rober downey jr"
print (nama6.title())

Rober Downey Jr

## Konversi Tipe Data

In [16]:
angka = 1
print (type(angka))

<class 'int'>

In [17]:
angka2 = str(angka)
print (type(angka2))
print (angka2)

<class 'str'>
1

In [18]:
kata1 = "1"
print (type(kata1))

<class 'str'>

In [19]:
kata2 = int(kata1)
print (type(kata2))
print (kata2)

<class 'int'>
1

In [20]:
angka3 = 1.5
print (type(angka3))

<class 'float'>

In [21]:
angka4 = int(angka3)
print (angka4)

1

In [22]:
angka5 = 8
angka6 = float(angka5)
print (angka6)

8.0

## Cara Lain Untuk Print

In [23]:
print ("Halo {}".format("semuanya"))

Halo semuanya

In [24]:
kata3 = "Indonesia"
print ("Aku cinta %s" % kata3)

Aku cinta Indonesia

In [25]:
angka7 = 1234
print ("Berhitung mulai dari %d" % angka7)

Berhitung mulai dari 1234

## Input Data

In [26]:
kata4 = input ("Siapa nama kamu?")
print (type(kata4))

Siapa nama kamu?Dina
<class 'str'>

In [27]:
tambah = input ("Masukkan angka: ")
tambah1 = 200
tambah2 = tambah1 + 300
print (tambah2)

Masukkan angka: 3
500

In [28]:
tambah3 = input ("Masukkan angka: ")
tambah4 = 200
tambah5 = tambah4 + 300
print (tambah5)

Masukkan angka: 200
500

In [29]:
tambah6 = input ("Masukkan angka: ")
tambah7 = 499
tambah8 = int(tambah7) + 300
print (tambah8)

Masukkan angka: 314
799

## Else, If, Elif

In [30]:
x = 40
y = 200
z = x < y
print (z)
if z == True:
    print ("Benar x < y")

True
Benar x < y

In [31]:
a = 40
b = a < 3
print (b)
if b == True:
    print ("Benar a<3")
else:
    print ("salah")

False
salah

In [32]:
masukin = int(input ("Masukkan angka: "))
c = 4
if masukin < c:
    print (masukin)
else:
    print (c)

Masukkan angka: 453
4

In [33]:
namauser = input ("Masukkan nama Anda: ")
waktuuser = int(input("Pukul berapa Anda datang? "))
masuk = 8
print ("Hallo", namauser)
if waktuuser == masuk:
    print ("Anda datang tepat waktu, %s!" % namauser)
elif time < masuk:
    print ("Wah Anda rajin sekali, %s!" % namauser)
elif time > masuk:
    print ("Anda datang terlambat, %s!" % namauser)

Masukkan nama Anda: Dina
Pukul berapa Anda datang? 8
Hallo Dina
Anda datang tepat waktu, Dina!

In [34]:
name = input ("Nama Anda: ")
time = int(input("Jam masuk: "))
jam = 8
print ("Hallo", name)
if time == jam:
    print ("Anda tepat waktu, %s!" % name)
elif time < jam:
    print ("Anda rajin sekali, %s!" % name)
elif time > jam:
    print ("Anda terlambat, %s!" % name)

Nama Anda: Dina
Jam masuk: 9
Hallo Dina
Anda terlambat, Dina!

## Loop

In [35]:
foods = ["Nasi", "Kue", "Permen"]
for elemen in foods:
    print ("Saya ingin makan %s" % foods)

Saya ingin makan ['Nasi', 'Kue', 'Permen']
Saya ingin makan ['Nasi', 'Kue', 'Permen']
Saya ingin makan ['Nasi', 'Kue', 'Permen']

In [36]:
contoh = 1
while contoh <= 10:
    print (contoh)
    contoh +=1

1
2
3
4
5
6
7
8
9
10

In [39]:
angka8 = int(input("Masukkan Angka: "))
angka9 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for a in angka9:
    print (a)
    if a == angka8:
        print ("Angka %d ditemukan" % angka8)
        break

Masukkan Angka: 5
1
2
3
4
5
Angka 5 ditemukan